* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	font-family: "Arial";
}
html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background: #000000;
}